@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	color: white; 
	font-family: "Roboto", sans-serif;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

body
{
	background-color: #101010;
}

h1.title
{
	padding: 30px;
	text-transform: uppercase;
	text-align: center;
}

div.main
{
	/* background-color: red; */
	margin: auto;
	width: 50%;
	text-align: center;
}

a.more
{
	color: rgb(16, 16, 255);
}

div.sclns
{
	display: inline-block;
	margin: auto;
}

div.sclns div
{
	display: flex;
}

img.scl
{
	border-style: solid;
	border-radius: 50%;
	height: 200px;
	margin: 20px;
	width: 200px;
}

h2
{
	padding: 30px;
}

ul.undec
{
	list-style: none;
}

div.imgs
{
	display: flex;
	margin-top: 100px;
	justify-content: center;
}

div.imgs div
{
	margin: auto;
}

@media only screen and (max-width: 800px)
{
	div.imgs
	{
		display: inline-block;
	}
}